<!--redesigned layout -->

<section class="section-container">
  <div class="left-container">
    <div style="display:grid; align-items:start; padding:10px">
      <h2>Orders of the salesman</h2>
    </div>
    <div class="ag-grid-container">
      <ag-grid-angular style="width: 100%; height:100%;" class="ag-theme-alpine" [rowData]="ordersRowData"
                       [columnDefs]="ordersColumnDefs" (cellValueChanged)="updateBonus($event)">
      </ag-grid-angular>
    </div>

    <div style="display:grid; align-items:start; padding:10px">
      <h2>Performance records of the salesman</h2>
    </div>
    <div class="ag-grid-container" style="width:100%; ">
      <ag-grid-angular style="width: 100%; height:100%;" class="ag-theme-alpine"
                       [rowData]="performanceRowData" [columnDefs]="performanceColumnDefs"
                       (cellValueChanged)="updateBonus($event)">
      </ag-grid-angular>
    </div>
    <div style="display:grid; grid-template-columns:1fr 1fr; grid-gap:0; align-items:end; justify-items:end ">
      <table>
        <tr>
          <th>Total Orders Bonus:</th>
          <td>{{ bonuses.totalBonusA }}</td>
        </tr>
      </table>
    </div>
    <div style="display:grid; grid-template-columns: 1fr 1fr; grid-gap:0; justify-items:end ">
      <table>
        <tr>
          <th>Total Social performance Bonus:</th>
          <td>{{ bonuses.totalBonusB }}</td>
        </tr>
      </table>
    </div>

    <!--Total bonus A + B -->
    <div style="display:grid; grid-template-columns: 1fr 1fr; grid-gap:0; justify-items:end ">
      <table>
        <tr>
          <th>Total Bonus:</th>
          <td>{{ bonuses.totalBonusAB }}</td>
        </tr>
      </table>
    </div>

    <div style="padding:10px">
      <mat-label>Remarks</mat-label>
    </div>
    <div style="width:100%">
      <mat-form-field style="width:100%" class="example-full-width" appearance="fill">
        <mat-label>Leave your remarks here</mat-label>
        <textarea matInput placeholder="Ex. Improve on everything..."></textarea>
      </mat-form-field>
    </div>
    <div style="display:grid; grid-template-columns:1fr 1fr; grid-column-gap:0; justify-items:center" >
      <button style="width:fit-content" mat-button (click)="export()">Export</button>
      <button style="width:fit-content" mat-button (click)="dependentSubscription()">Dependent</button>
    </div>
  </div>

  <div class="right-container">
    <div style="display:grid; justify-content:center;align-items:center">
      <table [ngClass]="'custom-table'" *ngIf="selectedSalesman">
        <tr>
          <th>Name:</th>
          <td>{{selectedSalesman.firstName}} {{selectedSalesman.lastName}}</td>
        </tr>
        <tr>
          <th>Employeed ID:</th>
          <td>{{selectedSalesman.employeeId}}</td>
        </tr>
        <tr>
          <th>Department:</th>
          <td>{{selectedSalesman.department}}</td>
        </tr>
        <tr>
          <th>Year of Performance</th>
          <td>{{yearControl.value}}</td>
        </tr>
      </table>
    </div>
    <div style="display:grid; grid-template-columns: 1fr; align-items:center; justify-content:center">
      <form style="display:grid; grid-template-columns:1fr 1fr; justify-items:center">
        <mat-form-field style="width:fit-content" appearance="fill">
          <mat-label>Salesman</mat-label>
          <input type="text" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto"
                 (input)="checkInput()">
          <button matSuffix mat-icon-button (click)="clearInput()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredAutoCompleteOptions | async" [value]="option"
                        (onSelectionChange)="onSelFunc(option)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field style="width:fit-content" appearance="fill">
          <mat-label>Year of performance</mat-label>
          <input matInput type="number" placeholder="2021" [formControl]="yearControl" min="1950">
          <mat-error *ngIf="years < 1950">1950</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="ag-grid-container">
      <ag-grid-angular style="width: 100%; height:100%;" class="ag-theme-alpine" [rowData]="salesmenRowData "
                       [columnDefs]="salesmenColumnDefs" [rowSelection]="rowSelection"
                       (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
                       [isExternalFilterPresent]="isExternalFilterPresent"
                       [doesExternalFilterPass]="doesExternalFilterPass">
      </ag-grid-angular>
    </div>
  </div>
</section>
<!-- on side lying triangle layout-->
<!--
<div style="display:grid; grid-template-columns: 1fr 1fr; justify-items: center; align-items:center">
  <div style="display: grid; grid-template-columns: 1fr; justify-items: center; align-items: center; grid-row-gap:500px;">
    <div>1</div>
    <div>2</div>
  </div>
  <div style="display: grid">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur corporis dolorem dolorum eaque enim, est illo itaque laudantium minus porro quae quis, quo recusandae rem rerum saepe unde voluptate.</div>
  </div>
</div>
-->
