.custom-table > tr > th{
  text-align:left;

}
.section-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items:center;
  grid-gap:0;
  height:1000px;
}
.left-container{
  display:grid;
  height:100%;
  justify-content: center;
  align-items:center;
  grid-row-gap: 0;
}
.ag-grid-container{
  height:350px;
  width:600px;
}
.right-container{
  display:grid;
  justify-content: center;
  align-items:center;
  grid-row-gap: 10px;
}
.custom-table > tr > td{
  text-align: center;
}
.custom-table-container{
  height:10%;
  display:grid;
  grid-template-columns: 1fr;
  /*align-items: flex-end;*/
}
.bonus-table{
  display:grid;
  grid-template-rows: 1fr;
  justify-content: right;
}
